<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout3.css">
</head>
<body>
    <div class="first">
        <h1>libertains</h1>
    </div>
    <div class="second">
        <div>
            <h1>down with the state</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, incidunt recusandae. Quos totam sed expedita dicta minima quisquam magnam, saepe necessitatibus reprehenderit praesentium corporis deleniti tempora obcaecati modi.</p>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJInzM0QjG-NPUPsghhSLF0pj3pCWyJ2fUYg&s" alt="image">
    </div>
    <div class="third">
        <div class="flex1">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium enim delectus maxime architecto, neque tempora blanditiis incidunt nobis corrupti molestiae ullam nesciunt nisi eaque ea temporibus doloribus officiis facere eligendi?</p>
        </div>
        <div class="flex2">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sed laudantium provident corporis ipsum corrupti saepe consectetur culpa, ipsam quaerat veritatis molestias rerum iusto pariatur impedit reprehenderit. Debitis, iure ipsam?</p>
        </div>
        <div class="flex3">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt vel in doloremque nulla iusto modi tenetur porro sunt ea minus, laudantium dolore corrupti hic. Fuga velit tempora sed laudantium?</p>
        </div>
    </div>
</body>
</html>