*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.layout{
    margin-top:200px;
    display:flex;
    justify-content:space-between;
    margin-left:50px;
    margin-right:50px;
}

img{
    width:200px;
    border-radius:30px;
}

h2{
    text-align: center;
}

.child{
    border-radius:40px;
    width:260px;
    padding:30px;
    height:300px;
    border:2px solid black;
    align-items: center;
}